Package: com.jeffresc.unsplashwallsxi
Name: UnsplashWallsXI
Depends: mobilesubstrate
Version: 1.0.6
Architecture: iphoneos-arm
Description: Set your wallpaper to random images from Unsplash easily within the Settings Application
Maintainer: JeffResc
Author: JeffResc
Section: Tweaks
