<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Configuration</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jeffresc.unsplashwallsxi</string>
			<key>key</key>
			<string>UWXILock</string>
			<key>label</key>
			<string>Set Lockscreen Wallpaper</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jeffresc.unsplashwallsxi</string>
			<key>key</key>
			<string>UWXIHome</string>
			<key>label</key>
			<string>Set Homescreen Wallpaper</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.jeffresc.unsplashwallsxi</string>
			<key>key</key>
			<string>UWXICR</string>
			<key>label</key>
			<string>Add Wallpapers to Camera Roll</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Update Wallpaper</string>
		</dict>
		<dict>
			<key>action</key>
			<string>updateWallpaper</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Update Wallpaper</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Credits</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openTwitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>twitter.png</string>
			<key>label</key>
			<string>Developed by @JeffRescignano</string>
		</dict>
		<dict>
			<key>action</key>
			<string>ipadGitHub</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>github.png</string>
			<key>label</key>
			<string>Thanks to ipadkid358 For Original Tweak</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openSupport</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>mail.png</string>
			<key>label</key>
			<string>Found a Bug? Need Support?</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openUnsplash</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>unsplash.png</string>
			<key>label</key>
			<string>Images Courtesy of Unsplash</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openPayPal</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>icon</key>
			<string>paypal.png</string>
			<key>label</key>
			<string>Donate</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>label</key>
			<string>UnsplashWallsXI ©2020 Jeff Rescignano</string>
		</dict>
	</array>
	<key>title</key>
	<string>UnsplashWallsXI</string>
</dict>
</plist>
